*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #DBDFEA;
   
}

/* manu start  */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    display: flex;
    justify-content: center;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }
/* manu end  */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container #time span{
    font-size: 70px;
    padding: 0 5px;
    margin-bottom: 20px;
    color:#333333;
    font-weight: bolder;
}
.container #time stong {
    font-size: 25px;
}
.container .btn_div{
    display: flex;
    flex-direction: row;
}
.container .btn_div .btn{
    padding: 10px 50px;
    margin: 70px 5px;
    background-color: #B04759;
    font-size: 20px;
    color:whitesmoke;
    letter-spacing: 1px;
    font-weight: 500;
    
}


